@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5;
    --foreground: #000d24;
    --card: #ffffff;
    --card-foreground: #000d24;
    --popover: #ffffff;
    --popover-foreground: #000d24;
    --primary: #ef3e23;
    --primary-light: #F7B7A1;
    --primary-super-light: #f5d1c5;
    --primary-extra-light: #f7e4df;
    --primary-foreground: #fafcfc;
    --secondary: #f0f4f9;
    --secondary-foreground: #0b1b2b;
    --muted: #f0f4f9;
    --muted-foreground: #727e9c;
    --accent: #f0f4f9;
    --accent-foreground: #0b1b2b;
    --destructive: #f24040;
    --destructive-foreground: #fafcfc;
    --border: #e1e5eb;
    --input: #e1e5eb;
    --ring: #000d24;
    --radius: 0.5rem;
    --chart-1: #ff725f;
    --chart-2: #208775;
    --chart-3: #1f4c73;
    --chart-4: #f5bf2a;
    --chart-5: #fdae2e;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

  }

  .dark {
    --background: #303133;
    --foreground: #fafcfc;
    --card: #000d24;
    --card-foreground: #fafcfc;
    --popover: #000d24;
    --popover-foreground: #fafcfc;
    --primary: #fafcfc;
    --primary-light: #F7B7A1;
    --primary-super-light: #f5d1c5;
    --primary-extra-light: #f5dcd3;
    --primary-foreground: #0b1b2b;
    --secondary: #283a4c;
    --secondary-foreground: #fafcfc;
    --muted: #283a4c;
    --muted-foreground: #a5b0cf;
    --accent: #283a4c;
    --accent-foreground: #fafcfc;
    --destructive: #4f1414;
    --destructive-foreground: #fafcfc;
    --border: #283a4c;
    --input: #283a4c;
    --ring: #c2d4f5;
    --chart-1: #0077ff;
    --chart-2: #1db78a;
    --chart-3: #ff8000;
    --chart-4: #b337ff;
    --chart-5: #ff3399;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom side bar scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Theme-specific styles */
.theme-light {
  --bg-color: #ffffff;
  --text-color: #1a1d21;
}

.theme-dark {
  --bg-color: #1a1d21;
  --text-color: #ffffff;
}

/* Sidebar colors */
.sidebar-default {
  --sidebar-bg: #3F0E40;
}

.sidebar-aubergine {
  --sidebar-bg: #4A154B;
}

.sidebar-midnight {
  --sidebar-bg: #000E21;
}

/* Density styles */
.density-comfortable {
  --spacing-unit: 1rem;
}

.density-cozy {
  --spacing-unit: 0.875rem;
}

.density-compact {
  --spacing-unit: 0.75rem;
}

